{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Bootstrap Jumbotron-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 jumbo-title">Jumbotron Image!</h1>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p class="lead">
            <a class="btn btn-primary btn-md shop-now-button .btn-black .border-black" href="" target="_blank" role="button">Shop Now</a>
            </p>
        </div>
    </div>

    <div class="container cards-title">
	    <div class="row">
			<div class="col-12">
				<h1>We Stock All the Latest Brands</h1>			
			</div>
		</div>
	</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card-holder">
                        <img src="media/golfclubsize.jpg" class="card-image">
                        <div class="card-text">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem test is test is a</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-holder">
                        <img src="media/golfclubsize.jpg" class="card-image">
                        <div class="card-text">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem test is test is a</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-holder">
                        <img src="media/golfclubsize.jpg" class="card-image">
                        <div class="card-text">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem test is test is a</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-holder">
                        <img src="media/golfclubsize.jpg" class="card-image">
                        <div class="card-text">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem test is test is a</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}