html {
    height: 100%;
}

/*------------Top Container -------*/

.header-container-products{
    padding-top: 160px;
}

.header-container-shopping-bag{
    padding-top: 160px;
}


/* -------------------------------- navbar -----------------*/

.navbar {
    padding-left: 8px;
    padding-right: 8px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/*-- JumboTron and Styling -- */ 

.jumbotron {
  background: url("/media/putting.jpg");
  background-size: cover;
  height:80vh;
}

.jumbo-title {
    padding-top: 165px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/*----Card Styling For hover effects ---*/

.cards-ttle{
    text-align: center;
}

.card-holder {
    position: relative;
    overflow: hidden;
}

.card-image{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-tansition: all .5s;
    transition: all .5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20%;
}

.card-text{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-tansform: translateY(100%);
    transform: translateY(100%);

}

.card-text{
    text-align: justify;
}

.card-holder:hover .card-text{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-tansform: translateY(0);
    transform: translateY(0);
}

.card-holder:hover .card-image{
     -webkit-transition: scale(1.15) ;
    -moz-transition: scale(1.15) ;
    -ms-transition: scale(1.15) ;
    -o-tansition: scale(1.15);
    transition: scale(1.15) ;
}

.card-img-top {
    width: 100%;
    height: 20VH;
    object-fit: cover;
}

.header-container-products{
    padding-top: 175px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}


/* -------------------------------- Media Queries */



/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    body {
        height: calc(100vh - 116px);
    }
}