{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container-products">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
        <h6>{{ product.name }}</h6>
        <p class="price">€{{ product.price }}</p>
        <p><button>Add to Cart</button></p>
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}